/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*/
 
#text_container {
 text-transform:uppercase;
 color: white;
}

#nicework {
  border-bottom: 1px solid white;
  padding-bottom: 4px;
}

.bar_block {
  display: block;
  width: 100%;
  position: relative;
  height: 50px;
  
  .count, .label {
    display: inline-block;
    position: absolute;
  }
  
  .count {
    color:  #093a65;    
    left: 12px;
    top: 8px;
    font-size: 1.7em;
  }
  
  .label {
    right: 6px;
    top: 17px;
    font-size: 0.7em;
  }
}


.rate_block {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  width: 294px;
  height: 140px;
  
  .percent_box, .label {
    position: absolute;
  }
  
  .percent_box {
    left: 0;
    top: 0;
    font-size: 6em;
 background-color: white;
 display: inline-block;
 width: 300px;
 
 .percent {
   margin: 8px;
   color:  #093a65;    
   font-weight: bold;
    
 }
  }
  
  .label {
    left: 0;
    top: 130px;
    font-size: 0.4em;
  }
}

.rating_and_sharing {
  display: block;
  position: relative;
}

#sharing {
  display: inline-block;
  width: 250px;
  height: 140px;
  padding-top: 22px;
  padding-left: 16px;
  position: absolute;
  top: 0;
  
  .label {
    border-bottom: 1px solid white;
    top: 0;
    left: 4px;
    font-size: 1em;
    display: block;
  }
}

#hey_mitt_check_math {
  position: absolute;
  top: 170px;
  left: 480px;
  color: white;
  font-size: 0.4em;
  width: 100px;
  text-transform: uppercase;
}

#how_well_know .label {
  border-bottom: 1px solid white;
  padding-bottom: 6px;
  margin-top: 50px;
}

#romney_fans_div, #total_friends_div {
  background-color: rgba(255,255,255,0.7);
  width: 0px;
  height: 100%;
  margin: 4px 0 0 0;
}

#total_friends .label {
  color: white;
}

#thumbnails {
  margin: 4px 0 4px 0;
}

img.thumb {
  display: inline-block;
}

#sharing .share_buttons {
  position: relative;
}

#sharing .share {
  margin-top: 29px;
  display: inline-block;
  list-style-type: none;
  text-align: left;
  position: absolute;
  top: 0;
  padding-left: 0;
}

#sharing .share.left {
  margin-left: 10px;
}

#sharing .share.right {
  left: 100px;
  
}

#sharing .share li {
  display: block;
  padding: 1px;
  margin: 2px;
  margin-left: 0px;
}

