-content_for :head_scripts do
  :plain
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=167465176727032";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script src="https://apis.google.com/js/plusone.js"></script>
    <script type="text/javascript">
        var tumblr_link_url = "http://www.example.com/permalink/my-article";
        var tumblr_link_name = "My Awesome Article";
        var tumblr_link_description = "Lorem ipsum...";
    </script>
    
#header
  %img{:src=>asset_path("RR-header-image.png")}