-content_for :head_scripts do
  %meta{:name => 'viewport', :content => 'initial-scale=1.0, user-scalable=no'}
  =stylesheet_link_tag '/assets/home/shared.css'
  =stylesheet_link_tag '/assets/home/index.css'
  :javascript
=render :partial => 'header'

#main_container
  #background
  #text_container
    #nicework
      Nice Work.  You can trust (almost) all of your friends.

    .bar_block#romney_fans
      #romney_fans_div
      .count 7
      .label Friends that like Mitt Romney
    .bar_block#total_friends
      #total_friends_div
      .count 855
      .label Total Friends
    .rate_block 
      .percent_box 
        .percent#percent_label 0.82%
      .label of your friends like Mitt Romney

    #how_well_know
      .label So...Um...How well do you know these 7 Friends?
      .thumbnails
        %img.thumb{:src => "", :width => 50, :height => 50}

    #sharing
      .label Share Your Romney Rate
      
  #hey_mitt_check_math Hey Mitt, Check our Math, it adds up!
      
#logout Logout

=render :partial => 'footer'

#fb-root

-content_for :end_scripts do
  =javascript_include_tag '/assets/home/index.js'
