-content_for :head_scripts do
  =stylesheet_link_tag '/assets/illco/index.css'

=render :partial => 'header'

#main_container
  #text_container
    %h1.title We Build Powerful Mobile Technology
    %p.description Our focus is iOS, Android, and Windows Phone.  We are full service; providing conceptual and strategic services, UX & visual design, front-end and back-end engineering.
    %p.description Maybe we can help make your next mobile project something special.
    %br
    %a#contact_us{:href=>'mailto:founders@meeps.com'} Contact Us

=render :partial => 'footer'


-content_for :end_scripts do
  =javascript_include_tag '/assets/illco/index.js'
