-content_for :head_scripts do
  =stylesheet_link_tag '/assets/illco/index.css'

=render :partial => 'header'



=render :partial => 'footer'


-content_for :end_scripts do
  =javascript_include_tag '/assets/illco/index.js'
