!!!
/[if lt IE7]
  <html class="no-js ie6">
/[if IE 7]
  <html class="no-js ie7">
/[if IE 8]
  <html class="no-js ie8">
/[if (gte IE 9)|!(IE)]
  <html class="no-js">
%head
  :plain
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

  %title What's your Romney Rate?
  =stylesheet_link_tag    "application", :media => "all"
  =javascript_include_tag "application" 
  =csrf_meta_tags
  =yield :head_scripts
  :javascript
    window.FacebookAppID = #{FACEBOOK_CONFIG['app_id']};
  :plain
    <link rel="shortcut icon" href="#{image_path('favicon.ico')}"/>
    <script type="text/javascript" src="//use.typekit.net/mmp3vkw.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


%body{:style => 'width: 100%; height: 100%'}
  =yield
  =yield :end_scripts
  :plain
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36005617-1']);
      _gaq.push(['_setDomainName', 'whatsmyromneyrate.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <script type="text/javascript">
      var _sf_async_config = { uid: 22841, domain: 'whatsmyromneyrate.com' };
      (function() {
        function loadChartbeat() {
          window._sf_endpt = (new Date()).getTime();
          var e = document.createElement('script');
          e.setAttribute('language', 'javascript');
          e.setAttribute('type', 'text/javascript');
          e.setAttribute('src',
            (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
            "js/chartbeat.js");
          document.body.appendChild(e);
        };
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
          loadChartbeat : function() { oldonload(); loadChartbeat(); };
      })();
    </script>

